.section {
	// .section__video
	&__video {
		video {
			height: 100vh;
			width: 100vw;
			object-fit: cover;
		}
	}
}

.container {
	// .container__video

	&__video {
	}

	// .container__image

	&__image {
		position: absolute;
		top: 0;
		height: 100vh;
		width: 100vw;
	}
}
