@font-face {
	font-family: WanoQuin;
	font-display: swap;
	src: url('../fonts/WanoQuin-ExtraBold.woff2') format('woff2'),
		url('../fonts/WanoQuin-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
